.cloud-info-container {
  margin-block: 1.5rem;
  text-align: left;
}
.info-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.data-icon {
  width: 2.5rem;
  margin-right: 0.5rem;
}
.data {
  font-size: small;
}
